<footer>
  <div class="container-fluid text-center" style="background-color: #cfffe2">
    <div class="row mx-5">
      <div class="col-4">
        <div class="row ml-2" style="background-color: #f7fff6">
          <div class="col-12 px-5 py-5">
            <h2 style="color: #d39e00">Hướng dẫn di chuyển</h2>
            <p style="text-align: left">Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong
              những điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản
              Văn hóa Thế giới được UNESCO công nhận:</p>
            <h4 class="my-4" style="color: #ffec6a;font-size: 32px">Địa Điểm :</h4>
            <table class="table table-sm">
              <tr>
                <td>1.</td>
                <td style="text-align: left">Cố đô Huế</td>
                <td colspan="2" style="text-align: right">2 tiếng</td>
              </tr>
              <tr>
                <td>2.</td>
                <td style="text-align: left">Phố cổ Hội An</td>
                <td colspan="2" style="text-align: right">30 phút</td>
              </tr>
              <tr>
                <td>3.</td>
                <td style="text-align: left">Thánh địa Mỹ Sơn</td>
                <td colspan="2" style="text-align: right">90 phút</td>
              </tr>
              <tr>
                <td>4.</td>
                <td style="text-align: left">Động phong nha</td>
                <td colspan="2" style="text-align: right">3 tiếng</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex">

      </div>
      <div class="col-4">
        <div class="row mt-5">
          <div class="col-12">
            <h4 style="color: sandybrown;text-align: left">Liên hệ</h4>
            <p style="text-align: left">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son
              District, Danang City, Vietnam
              Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
              Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
