<div class="container-fluid bg-transparent">
  <div class="row my-3">
    <div class="col-3"></div>
    <div class="col-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#" routerLink="/">Bất động sản Hoài Nam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/nhaBan/list">Nhà cần bán</a>
            </li>
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link" th:href="@{/employee}">Employee</a>-->
            <!--                        </li>-->
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link" th:href="@{/service}">Service</a>-->
            <!--                        </li>-->
            <!--                        <li class="nav-item">-->
            <!--                            <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>-->
            <!--                        </li>-->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
